.sale {
  background-image: url('../../public/bg-home.png');
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: top; */

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
}